.nav {
  position: fixed;
  width: 100vw;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  z-index: 100;

  .container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    font-weight: 700;
    transition: 0.5s;
  }
  .logo:hover {
    color: var(--second);
  }
  .nav-gnv {
    display: flex;
    gap: 20px;
    h3 {
      font-weight: 500;
      padding: 3px 0;
    }
    h3:hover {
      text-decoration: underline;
    }
  }
}
